@model Kovan.Models.DepotModel



    <div class="modal-header">
        <h5 class="modal-title">Depo kayıt silme işlemi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="model-body">
        <ul class="list-group">
            <li class="list-group-item">@Model.Code</li>
            <li class="list-group-item">@Model.Name</li>
        </ul>
       
    </div>
    @using (Html.BeginForm("destroyDepot", "depot", new { Id = Model.Id }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <div class="modal-footer">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    }

