
@{
    ViewBag.Title = "Depo";
}

<style type="text/css"></style>
<div class="container-fluid">
    <ul>

        <li>
            <div class="card card-green col-md-12">
                <p class="card-question">how old was the oldest person ever?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;">The oldest verified person on record was French woman <b>Jeanne Calment</b> (1875–1997), who lived to the age of <b>122 years, 164 days.</b></p>
                <a href="https://en.wikipedia.org/wiki/List_of_the_verified_oldest_people">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>

        <li>
            <div class="card card-green col-md-12">
                <p class="card-question">What year was Bill Gates born?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;">Bill Gates was born William Henry Gates III on <b>October 28, 1955</b>, in Seattle, Washington.</p>
                <a href="http://www.biography.com/people/bill-gates-9307520#early-life">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>

        <li>
            <div class="card card-blue  col-md-12">
                <p class="card-question">What is the heaviest thing in the world?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;">
                    According to the Guinness Book of World Records, the heaviest thing to ever be weighed as of 2015 was the Revolving Service Structure of launch pad 39B at the Kennedy Space Center in Florida. It weighed 2423 tonnes, or 5,342,000 pounds, and required
                    21 jacking points to lift.
                </p>
                <a href="https://en.wikipedia.org/wiki/List_of_the_verified_oldest_people">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>

        <li>
            <div class="card card-red col-md-12">
                <p class="card-question">What is the most expensive burger on the planet?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;"><b>The Totally Artificial Lab-Grown Burger</b>. Estimated at <b>$330,000</b></p>
                <a href="https://en.wikipedia.org/wiki/List_of_the_verified_oldest_people">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>

        <li>
            <div class="card card-green col-md-12">
                <p class="card-question">What year was Bill Gates born?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;">Bill Gates was born William Henry Gates III on <b>October 28, 1955</b>, in Seattle, Washington.</p>
                <a href="http://www.biography.com/people/bill-gates-9307520#early-life">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>

        <li>
            <div class="card card-blue  col-md-12">
                <p class="card-question">What is the heaviest thing in the world?</p>
                <div class="card-separator"></div>
                <p style="text-align:justify;">
                    According to the Guinness Book of World Records, the heaviest thing to ever be weighed as of 2015 was the Revolving Service Structure of launch pad 39B at the Kennedy Space Center in Florida. It weighed 2423 tonnes, or 5,342,000 pounds, and required
                    21 jacking points to lift.
                </p>
                <a href="https://en.wikipedia.org/wiki/List_of_the_verified_oldest_people">View Source</a>
                <div class="card-separator"></div>
            </div>
        </li>
    </ul>
</div>