
@{
    ViewBag.Title = "Hareket Merkezi";
}
<div id="generalToast" class="toast fade hidden position-fixed bottom-0 end-0 m-3" style="color:#fff" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button onclick="$('#generalToast').toast('dispose')" type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

<form>
    <div class="jumbotron" style="margin-top:2rem;">
        <div class="row">
            <div class="col-md-5">
                <label>Kaynak Depo</label>
                @Html.DropDownList("OriginDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control", @message = "Kaynak depo bilgisi boş bırakılamaz." })
            </div>
            <div class="col-md-5">
                <label>Hedef Depo</label>
                @Html.DropDownList("TargetDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control", @message = "Hedef depo bilgisi boş bırakılamaz." })
            </div>
            <div class="col-md-2">
                <br />
                <button type="button" class="btn btn-md btn-success" onclick="addRowTodtBody()">+</button>
                <button type="button" class="btn btn-md btn-warning" onclick="saveShipment()">Kaydet</button>
            </div>
        </div>
    </div>
    <div class="jumbotron"  style="margin-top:2rem;">
        <table class="table" id="dt">
            <thead>
                <tr>
                    <th scope="col">Kalem Kodu</th>
                    <th scope="col">Kalem Tanımı</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Birim</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody id="dtbody">
            </tbody>
        </table>
    </div>
</form>

<script>

    var trFormElement = ` <tr id>
                        <td scope="row">
                            @Html.DropDownList("MaterialId", (List<SelectListItem>)ViewData["selectMaterials"], new { @class = "form-control materialid", @message="Materyal bilgisi boş bırakılamaz.", @id="MaterialId" })
                        </th>
                        <td><label>Kalem Tanımı</label></td>
                        <td><input id=Amount value="1" class="input-sm form-control amount" type="number" placeholder="miktar" message="Miktar bilgisi 0'dan büyük olmalıdır."/></td>
                        <td><label>Birim</label></td>
                        <td><button class="btn btn-sm btn-danger" onClick="removeFromdtBody(this)">-</button></td>
                    </tr>`;
    function addRowTodtBody() {
        var dateId = Date.now();
        var trElement = trFormElement.replace("id", `id="${dateId}"`)
            .replace("id=Amount", `id="Amount-${dateId}"`)
            .replace(`id="MaterialId"`, `id="MaterialId-${dateId}"`);

        $('#dtbody').append(trElement);
    }
    function removeFromdtBody(trItem) {
        var trParent = $(trItem).parent().parent();
        var trId = $(trParent).attr("id");
        var item = document.getElementById(trId).remove();
    }
    function saveShipment() {
        var resultValidation = validateForm();
        if (resultValidation === true) {
            var params = populateFormToModel();
            var things = JSON.stringify({ 'shipments': params });
                $.ajax({
                url: '@Url.Action("SaveShipment", "Shipment")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: things,
                    success: function (response) {
                        showToast("İşlem başarılı", "bg-success");
                },
                    error: function (err) {
                        console.log(err);
                        showToast("Bir hata ile karşılaşıldı. İşlem iptal edildi.","bg-danger");
                }
            });
        }
    }
    function deepCopyShipment(amount, materialId) {
        var model = {
            OriginDepotId: 0,
            TargetDepotId: 0,
            MaterialId: 0,
            Amount: 0,
        };

        model.OriginDepotId = $("#OriginDepotId").val();
        model.TargetDepotId = $("#TargetDepotId").val();
        model.Amount = amount;
        model.MaterialId = materialId;
        return model;
    }
    function populateFormToModel() {
        var modelParams = [];
    
        $('#dtbody tr').each(function () {
            var trId = $(this).attr("id");
            let idmaterial = $(`#MaterialId-${trId}`).val(); 
            let amount = $(this).children().find(".amount").val();
            let newModel = deepCopyShipment(amount, idmaterial);
            modelParams.push(newModel);           
        });
        return modelParams;
    }
    function validateForm() {
        var flag = true;
        if ($("#OriginDepotId").val() == null || $("#OriginDepotId").val() == undefined) {
            showToast($(this).attr("message"),"bg-danger");
        }
        if ($("#TargetDepotId").val() == null || $("#TargetDepotId").val() == undefined) {
            showToast($(this).attr("message"),"bg-danger");
        }
        if ($('#dtbody').children().find('.form-control').length < 1) {
            showToast("Sevkiyat bilgisi belirtiniz.","bg-danger");
            return false;
        }
        $('#dtbody').children().find('.form-control').each(function () {
            if (this.value == "" || this.value <= 0) {
                showToast($(this).attr("message"),"bg-danger");
                flag = false;
            }
        });
        return flag;
    }
    function showToast(message, type) {
        $("#generalToast").addClass(type);
        $("#generalToast").removeClass("hidden");
        $("#generalToast").addClass("show");
        $("#generalToast .toast-body").html(message);
    }
</script>
