@{
    ViewBag.Title = "Hareket Merkezi";
}

<form>
    <div class="jumbotron" style="margin-top:2rem;">
        <div class="row">
            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Kaynak Depo
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Hedef Depo
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-md btn-success" onclick="addRowTodtBody()">+</button>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <table class="table" id="dt">
            <thead>
                <tr>
                    <th scope="col">Kalem Kodu</th>
                    <th scope="col">Kalem Tanımı</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Birim</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody id="dtbody">
               
            </tbody>
        </table>
    </div>
</form>

<script>

    var trFormElement = ` <tr id="${Date.now()}">
                    <th scope="row">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Kalem Kodu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </th>
                    <td><label>Kalem Tanımı</label></td>
                    <td><input class="input-sm" type="number" placeholder="miktar" /></td>
                    <td><label>Birim</label></td>
                    <td><button class="btn btn-sm btn-danger" onClick="removeFromdtBody(this)">-</button></td>
                </tr>`;
    function addRowTodtBody() {
        console.log(Date.now()); // generate
        $('#dtbody').append(trFormElement);
    }
    function removeFromdtBody(trItem) {
        var trParent = $(trItem).parent().parent();
        var trId = $(trParent).attr("id");
        var item = document.getElementById(trId).remove();   
    }
</script>