
@{
    ViewBag.Title = "Hareket Merkezi";
}


<form>
    <div class="jumbotron" style="margin-top:2rem;">
        <div class="row">
            <div class="col-md-5">
                <label>Kaynak Depo</label>
                @Html.DropDownList("OriginDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control", @message="Kaynak depo bilgisi boş bırakılamaz." })
            </div>
            <div class="col-md-5">
                <label>Hedef Depo</label>
                @Html.DropDownList("TargetDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control", @message="Hedef depo bilgisi boş bırakılamaz." })
            </div>
            <div class="col-md-2">
                <br />
                <button type="button" class="btn btn-md btn-success" onclick="addRowTodtBody()">+</button>
                <button type="button" class="btn btn-md btn-warning" onclick="saveShipment()">Kaydet</button>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <table class="table" id="dt">
            <thead>
                <tr>
                    <th scope="col">Kalem Kodu</th>
                    <th scope="col">Kalem Tanımı</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Birim</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody id="dtbody">
            </tbody>
        </table>
    </div>
</form>

<script>

    var trFormElement = ` <tr id>
                        <td scope="row">
                            @Html.DropDownList("MaterialId", (List<SelectListItem>)ViewData["selectMaterials"], new { @class = "form-control materialid", @message="Materyal bilgisi boş bırakılamaz.", @id="MaterialId" })
                        </th>
                        <td><label>Kalem Tanımı</label></td>
                        <td><input id=Amount value="1" name="Amount" class="input-sm form-control amount" type="number" placeholder="miktar" message="Miktar bilgisi 0'dan büyük olmalıdır."/></td>
                        <td><label>Birim</label></td>
                        <td><button class="btn btn-sm btn-danger" onClick="removeFromdtBody(this)">-</button></td>
                    </tr>`;
    function addRowTodtBody() {
        var dateId = Date.now();
        var trElement = trFormElement.replace("id", `id="${dateId}"`)
            .replace("id=Amount", `id="Amount-${dateId}"`)
            .replace(`id="MaterialId"`, `id="MaterialId-${dateId}"`);

        $('#dtbody').append(trElement);
    }
    function removeFromdtBody(trItem) {
        var trParent = $(trItem).parent().parent();
        var trId = $(trParent).attr("id");
        var item = document.getElementById(trId).remove();
    }
    function saveShipment() {
        var resultValidation = validateForm();
        if (resultValidation === true) {
            var params = populateFormToModel();
            console.log(params);
        }
    }
    function populateFormToModel() {
        var modelParams = [];
        var model = {
            OriginDepotId: $("#OriginDepotId").val(),
            TargetDepotId: $("#TargetDepotId").val(),
            MaterialId: 0,
            Amount: 0
        };
       
        $('#dtbody tr').each(function () {
            model.MaterialId = $(this).children().find('.materialid').val();
            model.Amount = $(this).children().find(".amount").val();
            modelParams.push(model);
        });
        return modelParams;
    }
    function validateForm() {
        var flag = true;
        if ($("#OriginDepotId").val() == null || $("#OriginDepotId").val() == undefined) {
            showToast($(this).attr("message"));
        }
        if ($("#TargetDepotId").val() == null || $("#TargetDepotId").val() == undefined) {
            showToast($(this).attr("message"));
        }
        $('#dtbody').children().find('.form-control').each(function () {
            if (this.value == "" || this.value <= 0) {
                showToast($(this).attr("message"));
                flag = false;
            } 
        });
        return flag;
    }
    function showToast(message) {
        $("#generalToast").removeClass("hidden");
        $("#generalToast").addClass("show");
        $("#generalToast .toast-body").html(message);
    }
</script>
