
@{
    ViewBag.Title = "Hareket Merkezi";
}


<form>
    <div class="jumbotron" style="margin-top:2rem;">
        <div class="row">
            <div class="col-md-5">
                <label>Kaynak Depo</label>
                @Html.DropDownList("OriginDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control" })
            </div>
            <div class="col-md-5">
                <label>Hedef Depo</label>
                @Html.DropDownList("TargetDepotId", (List<SelectListItem>)ViewData["selectDepots"], new { @class = "form-control" })
            </div>
            <div class="col-md-2">
               <br />
                <button type="button" class="btn btn-md btn-success" onclick="addRowTodtBody()">+</button>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <table class="table" id="dt">
            <thead>
                <tr>
                    <th scope="col">Kalem Kodu</th>
                    <th scope="col">Kalem Tanımı</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Birim</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody id="dtbody">
            </tbody>
        </table>
    </div>
</form>

<script>

    var trFormElement = ` <tr id="${Date.now()}">
                        <th scope="row">
                            @Html.DropDownList("MaterialId", (List<SelectListItem>)ViewData["selectMaterials"], new { @class = "form-control" })
                        </th>
                        <td><label>Kalem Tanımı</label></td>
                        <td><input class="input-sm form-control" type="number" placeholder="miktar" /></td>
                        <td><label>Birim</label></td>
                        <td><button class="btn btn-sm btn-danger" onClick="removeFromdtBody(this)">-</button></td>
                    </tr>`;
    function addRowTodtBody() {
        console.log(Date.now()); // generate
        $('#dtbody').append(trFormElement);
    }
    function removeFromdtBody(trItem) {
        var trParent = $(trItem).parent().parent();
        var trId = $(trParent).attr("id");
        var item = document.getElementById(trId).remove();
    }
</script>
